scripts_folder: /home/user/post_sequencing_scripts
base_folder: /home/user/Sequencing
genomics_folder: /home/user/genomics
bowtie_indexes_folder: /usr/genomics_bin/bowtie/indexes
max_forks: 1
mysql_host: localhost
mysql_pass: 
mysql_user: sequencer
mysql_db: sequencing_control