scripts_folder: /Users/rgejman/Documents/Tarakhovsky/post_sequencing_scripts
base_folder: /Users/rgejman/Documents/Tarakhovsky/Sequencing
genomics_folder: /Users/rgejman/genomics
max_forks: 1
mysql_host: localhost
mysql_pass: 
mysql_user: sequencer
mysql_db: sequencing_control